openapi: 3.0.3
info:
  title: LucidLayer API
  version: 0.1.0
  description: |
    LucidLayer Offchain API.

    This OpenAPI spec is used to generate SDK clients.
servers:
  - url: https://api.lucid.foundation
    description: Production server

# Speakeasy MCP tool generation configuration
# - Scopes enable runtime filtering (e.g. start --scope read)
# - We default based on operationId naming conventions
x-speakeasy-mcp:
  scope-mapping:
    - pattern: "^(get|list)"
      scopes: [read]
    - pattern: "^(search)"
      scopes: [read]
    - pattern: "^(create|update|trigger|submit|commit|retry|run|calculate)"
      scopes: [write]
    - pattern: "^(delete)"
      scopes: [write, destructive]

tags:
  - name: Passports
  - name: Match
  - name: Run
  - name: Receipts
  - name: Epochs
  - name: Payouts
  - name: Compute

paths:
  /v1/passports:
    post:
      tags: [Passports]
      operationId: lucid_create_passport
      summary: Create a passport
      x-speakeasy-mcp:
        name: lucid_create_passport
        description: Create a new passport (model/compute/tool/dataset/agent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePassportRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePassportResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    get:
      tags: [Passports]
      operationId: lucid_list_passports
      summary: List passports
      x-speakeasy-mcp:
        name: lucid_list_passports
        description: List passports with filtering, sorting, and pagination.
      parameters:
        - in: query
          name: type
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportType'
              - type: array
                items: { $ref: '#/components/schemas/PassportType' }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: status
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportStatus'
              - type: array
                items: { $ref: '#/components/schemas/PassportStatus' }
        - in: query
          name: tags
          description: Comma-separated
          schema: { type: string }
        - in: query
          name: tag_match
          schema: { type: string, enum: [all, any] }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: sort_by
          schema: { type: string, enum: [created_at, updated_at, name] }
        - in: query
          name: sort_order
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPassportsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}:
    get:
      tags: [Passports]
      operationId: lucid_get_passport
      summary: Get a passport
      x-speakeasy-mcp:
        name: lucid_get_passport
        description: Retrieve a passport by its passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    patch:
      tags: [Passports]
      operationId: lucid_update_passport
      summary: Update a passport
      x-speakeasy-mcp:
        name: lucid_update_passport
        description: Update an existing passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
        - in: header
          name: X-Owner-Address
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePassportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    delete:
      tags: [Passports]
      operationId: lucid_delete_passport
      summary: Delete a passport (soft delete)
      x-speakeasy-mcp:
        name: lucid_delete_passport
        description: Soft-delete a passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
        - in: header
          name: X-Owner-Address
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, deleted]
                properties:
                  success: { type: boolean }
                  deleted: { type: boolean }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}/sync:
    post:
      tags: [Passports]
      operationId: lucid_trigger_passport_sync
      summary: Trigger on-chain sync for a passport
      x-speakeasy-mcp:
        name: lucid_trigger_passport_sync
        description: Trigger on-chain sync for a passport.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
                  on_chain_pda: { type: string, nullable: true }
                  on_chain_tx: { type: string, nullable: true }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/pending-sync:
    get:
      tags: [Passports]
      operationId: lucid_list_passports_pending_sync
      summary: Get passports pending sync
      x-speakeasy-mcp:
        name: lucid_list_passports_pending_sync
        description: List passports that are pending on-chain sync.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, count, passports]
                properties:
                  success: { type: boolean }
                  count: { type: integer }
                  passports:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/stats:
    get:
      tags: [Passports]
      operationId: lucid_get_passport_stats
      summary: Passport statistics
      x-speakeasy-mcp:
        name: lucid_get_passport_stats
        description: Get passport statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassportStatsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/models:
    get:
      tags: [Passports]
      operationId: lucid_search_models
      summary: Search model passports
      x-speakeasy-mcp:
        name: lucid_search_models
        description: Search model passports (ModelMeta filters).
      parameters:
        - in: query
          name: runtime
          schema: { type: string }
        - in: query
          name: format
          schema: { type: string }
        - in: query
          name: max_vram
          schema: { type: integer }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/compute:
    get:
      tags: [Passports]
      operationId: lucid_search_compute
      summary: Search compute passports
      x-speakeasy-mcp:
        name: lucid_search_compute
        description: Search compute passports (ComputeMeta filters).
      parameters:
        - in: query
          name: regions
          schema: { type: string }
        - in: query
          name: runtimes
          schema: { type: string }
        - in: query
          name: provider_type
          schema: { type: string }
        - in: query
          name: min_vram
          schema: { type: integer }
        - in: query
          name: gpu
          schema: { type: string }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/match/explain:
    post:
      tags: [Match]
      operationId: lucid_match_explain
      summary: Evaluate policy against compute/model meta
      x-speakeasy-mcp:
        name: lucid_match_explain
        description: Evaluate a policy against compute & model metadata and explain the decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policy: { $ref: '#/components/schemas/Policy' }
                compute_meta: { type: object, additionalProperties: true }
                model_meta: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/match:
    post:
      tags: [Match]
      operationId: lucid_match
      summary: Match compute for model
      x-speakeasy-mcp:
        name: lucid_match
        description: Match compute for a model given a compute catalog and policy constraints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: { type: object, additionalProperties: true }
                policy: { $ref: '#/components/schemas/Policy' }
                compute_catalog:
                  type: array
                  items: { type: object, additionalProperties: true }
                require_live_healthy: { type: boolean, default: true }
      responses:
        '200':
          description: OK
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/route:
    post:
      tags: [Match]
      operationId: lucid_route
      summary: Plan a route (match + resolve endpoint)
      x-speakeasy-mcp:
        name: lucid_route
        description: Match + resolve an executable inference endpoint for a model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: { type: object, additionalProperties: true }
                policy: { $ref: '#/components/schemas/Policy' }
                compute_catalog:
                  type: array
                  items: { type: object, additionalProperties: true }
                request_id: { type: string }
                require_live_healthy: { type: boolean, default: true }
      responses:
        '200':
          description: OK
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/run/inference:
    post:
      tags: [Run]
      operationId: lucid_run_inference
      summary: Run inference (optionally streaming via SSE)
      x-speakeasy-mcp:
        name: lucid_run_inference
        description: |
          Run inference through LucidLayer.
          NOTE: streaming responses may not be supported by all MCP clients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Non-streaming inference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResult'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/chat/completions:
    post:
      tags: [Run]
      operationId: lucid_chat_completions
      summary: OpenAI-compatible chat completions
      x-speakeasy-mcp:
        name: lucid_chat_completions
        description: OpenAI-compatible chat completions routed through LucidLayer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ---------------------------------------------------------------------------
  # Compute live-state
  # ---------------------------------------------------------------------------
  /v1/compute/nodes/heartbeat:
    post:
      tags: [Compute]
      operationId: lucid_heartbeat
      summary: Submit compute node heartbeat
      x-speakeasy-mcp:
        name: lucid_heartbeat
        description: Submit a compute node heartbeat to update live state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHeartbeat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  state: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/compute/nodes/{computePassportId}/health:
    get:
      tags: [Compute]
      operationId: lucid_get_health
      summary: Get compute node health
      x-speakeasy-mcp:
        name: lucid_get_health
        description: Get the current health state of a compute node.
      parameters:
        - in: path
          name: computePassportId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  state: { type: object, additionalProperties: true }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ---------------------------------------------------------------------------
  # Receipts
  # ---------------------------------------------------------------------------
  /v1/receipts:
    post:
      tags: [Receipts]
      operationId: lucid_create_receipt
      summary: Create a receipt
      x-speakeasy-mcp:
        name: lucid_create_receipt
        description: Create a receipt and append it to the receipt MMR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Receipt'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: { type: boolean }
                  receipt: { $ref: '#/components/schemas/Receipt' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt
      summary: Get a receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt
        description: Retrieve a receipt by receipt_id.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: { type: boolean }
                  receipt: { $ref: '#/components/schemas/Receipt' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}/verify:
    get:
      tags: [Receipts]
      operationId: lucid_verify_receipt
      summary: Verify a receipt (hash + signature + inclusion)
      x-speakeasy-mcp:
        name: lucid_verify_receipt
        description: Verify a receipt (hash + signature + inclusion proof).
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptVerification'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}/proof:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt_proof
      summary: Get inclusion proof for receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt_proof
        description: Get the inclusion proof for a receipt.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, proof]
                properties:
                  success: { type: boolean }
                  proof: { $ref: '#/components/schemas/ReceiptProof' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/mmr/root:
    get:
      tags: [Receipts]
      operationId: lucid_get_mmr_root
      summary: Get current MMR root
      x-speakeasy-mcp:
        name: lucid_get_mmr_root
        description: Get the current MMR root and leaf count.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, root, leaf_count]
                properties:
                  success: { type: boolean }
                  root: { type: string }
                  leaf_count: { type: integer }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/signer/pubkey:
    get:
      tags: [Receipts]
      operationId: lucid_get_signer_pubkey
      summary: Get orchestrator signing public key
      x-speakeasy-mcp:
        name: lucid_get_signer_pubkey
        description: Get the orchestrator signing public key.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, pubkey]
                properties:
                  success: { type: boolean }
                  signer_type: { type: string }
                  pubkey: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ---------------------------------------------------------------------------
  # Epochs / anchoring
  # ---------------------------------------------------------------------------
  /v1/epochs/current:
    get:
      tags: [Epochs]
      operationId: lucid_get_current_epoch
      summary: Get current epoch
      x-speakeasy-mcp:
        name: lucid_get_current_epoch
        description: Get the current epoch.
      parameters:
        - in: query
          name: project_id
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: { type: boolean }
                  epoch: { $ref: '#/components/schemas/Epoch' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs
      summary: List epochs
      x-speakeasy-mcp:
        name: lucid_list_epochs
        description: List epochs.
      parameters:
        - in: query
          name: project_id
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
        '500': { $ref: '#/components/responses/InternalServerError' }
    post:
      tags: [Epochs]
      operationId: lucid_create_epoch
      summary: Create epoch
      x-speakeasy-mcp:
        name: lucid_create_epoch
        description: Create a new epoch.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: { type: string }
      responses:
        '201':
          description: Created
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch
      summary: Get epoch
      x-speakeasy-mcp:
        name: lucid_get_epoch
        description: Get an epoch by epoch_id.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/retry:
    post:
      tags: [Epochs]
      operationId: lucid_retry_epoch
      summary: Retry failed epoch
      x-speakeasy-mcp:
        name: lucid_retry_epoch
        description: Retry a failed epoch.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/verify:
    get:
      tags: [Epochs]
      operationId: lucid_verify_epoch
      summary: Verify epoch anchor
      x-speakeasy-mcp:
        name: lucid_verify_epoch
        description: Verify an epoch anchor.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/transaction:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_transaction
      summary: Get epoch anchoring transaction
      x-speakeasy-mcp:
        name: lucid_get_epoch_transaction
        description: Get epoch anchoring transaction.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/commit-root:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_root
      summary: Commit epoch root
      x-speakeasy-mcp:
        name: lucid_commit_epoch_root
        description: Commit an epoch root to chain.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: { type: string }
                epoch_id: { type: string }
                force: { type: boolean }
      responses:
        '202': { description: Accepted }
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/commit-roots-batch:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_roots_batch
      summary: Commit multiple epoch roots
      x-speakeasy-mcp:
        name: lucid_commit_epoch_roots_batch
        description: Commit multiple epoch roots.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [epoch_ids]
              properties:
                epoch_ids:
                  type: array
                  items: { type: string }
      responses:
        '202': { description: Accepted }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/anchoring/health:
    get:
      tags: [Epochs]
      operationId: lucid_get_anchoring_health
      summary: Anchoring service health
      x-speakeasy-mcp:
        name: lucid_get_anchoring_health
        description: Health check for anchoring service.
      responses:
        '200': { description: OK }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/ready:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs_ready
      summary: Get epochs ready for finalization
      x-speakeasy-mcp:
        name: lucid_list_epochs_ready
        description: List epochs ready for finalization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochsReadyResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/stats:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_stats
      summary: Epoch statistics
      x-speakeasy-mcp:
        name: lucid_get_epoch_stats
        description: Get epoch statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochStatsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ---------------------------------------------------------------------------
  # Payouts
  # ---------------------------------------------------------------------------
  /v1/payouts/calculate:
    post:
      tags: [Payouts]
      operationId: lucid_calculate_payout
      summary: Calculate payout split
      x-speakeasy-mcp:
        name: lucid_calculate_payout
        description: Calculate payout split between recipients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCalculateRequest'
      responses:
        '200': { description: OK }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/from-receipt:
    post:
      tags: [Payouts]
      operationId: lucid_payout_from_receipt
      summary: Create payout from receipt token data
      x-speakeasy-mcp:
        name: lucid_payout_from_receipt
        description: Create payout split from receipt token data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutFromReceiptRequest'
      responses:
        '200': { description: OK }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/{run_id}:
    get:
      tags: [Payouts]
      operationId: lucid_get_payout
      summary: Get payout by run_id
      x-speakeasy-mcp:
        name: lucid_get_payout
        description: Get payout for a run_id.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/{run_id}/verify:
    get:
      tags: [Payouts]
      operationId: lucid_verify_payout
      summary: Verify payout split
      x-speakeasy-mcp:
        name: lucid_verify_payout
        description: Verify payout split integrity.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

components:
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Not Found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    PassportType:
      type: string
      enum: [model, compute, tool, dataset, agent, voice, other]
    PassportStatus:
      type: string
      enum: [active, deprecated, revoked, superseded]

    Passport:
      type: object
      required: [passport_id, type, owner, status, metadata, metadata_hash, created_at, updated_at]
      properties:
        passport_id: { type: string }
        type: { $ref: '#/components/schemas/PassportType' }
        owner: { type: string }
        name: { type: string, nullable: true }
        description: { type: string, nullable: true }
        version: { type: string, nullable: true }
        tags:
          type: array
          items: { type: string }
          nullable: true
        status: { $ref: '#/components/schemas/PassportStatus' }
        metadata:
          type: object
          additionalProperties: true
        metadata_hash: { type: string }
        created_at: { type: integer }
        updated_at: { type: integer }
        on_chain:
          type: object
          nullable: true
          properties:
            pda: { type: string, nullable: true }
            tx: { type: string, nullable: true }
            synced_at: { type: integer, nullable: true }

    CreatePassportRequest:
      type: object
      required: [type, owner, metadata]
      properties:
        type: { $ref: '#/components/schemas/PassportType' }
        owner: { type: string }
        metadata:
          type: object
          additionalProperties: true
        name: { type: string }
        description: { type: string }
        version: { type: string }
        tags:
          type: array
          items: { type: string }

    UpdatePassportRequest:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties: true
        name: { type: string }
        description: { type: string }
        version: { type: string }
        tags:
          type: array
          items: { type: string }
        status: { $ref: '#/components/schemas/PassportStatus' }

    CreatePassportResponse:
      type: object
      required: [success, passport_id, passport]
      properties:
        success: { type: boolean }
        passport_id: { type: string }
        passport: { $ref: '#/components/schemas/Passport' }

    GetPassportResponse:
      type: object
      required: [success, passport]
      properties:
        success: { type: boolean }
        passport: { $ref: '#/components/schemas/Passport' }

    ListPassportsResponse:
      type: object
      required: [success, passports, pagination]
      properties:
        success: { type: boolean }
        passports:
          type: array
          items: { $ref: '#/components/schemas/Passport' }
        pagination:
          type: object
          required: [total, page, per_page, total_pages]
          properties:
            total: { type: integer }
            page: { type: integer }
            per_page: { type: integer }
            total_pages: { type: integer }

    Policy:
      type: object
      required: [policy_version]
      additionalProperties: false
      properties:
        policy_version: { type: string, description: "Policy schema version, e.g. '1.0'" }
        allow_regions:
          type: array
          items: { type: string }
        residency_required: { type: boolean }
        attestation:
          type: object
          additionalProperties: false
          properties:
            attestation_required: { type: boolean }
            require_cc_on: { type: boolean }
            fallback_allowed: { type: boolean }
        latency:
          type: object
          additionalProperties: false
          properties:
            p95_ms_budget: { type: integer }
            hard_timeout_ms: { type: integer }
        cost:
          type: object
          additionalProperties: false
          properties:
            max_price_per_1k_tokens_usd: { type: number }
            spot_only: { type: boolean }
        privacy:
          type: object
          additionalProperties: false
          properties:
            store_inputs: { type: boolean }
            redact_pii: { type: boolean }

    ChatMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, user, assistant, function]
        content: { type: string }
        name: { type: string }
        function_call:
          type: object
          properties:
            name: { type: string }
            arguments: { type: string }

    InferenceRequest:
      type: object
      properties:
        model_passport_id: { type: string }
        model: { type: string }
        prompt: { type: string }
        messages:
          type: array
          items: { $ref: '#/components/schemas/ChatMessage' }
        max_tokens: { type: integer }
        temperature: { type: number }
        top_p: { type: number }
        top_k: { type: integer }
        stop:
          type: array
          items: { type: string }
        stream: { type: boolean }
        policy: { $ref: '#/components/schemas/Policy' }
        compute_passport_id: { type: string }
        trace_id: { type: string }
        request_id: { type: string }

    InferenceResult:
      type: object
      required: [success, run_id, tokens_in, tokens_out, ttft_ms, total_latency_ms, model_passport_id, compute_passport_id, runtime]
      properties:
        success: { type: boolean }
        run_id: { type: string }
        request_id: { type: string }
        trace_id: { type: string }
        text: { type: string }
        finish_reason: { type: string }
        tokens_in: { type: integer }
        tokens_out: { type: integer }
        ttft_ms: { type: integer }
        total_latency_ms: { type: integer }
        model_passport_id: { type: string }
        compute_passport_id: { type: string }
        runtime: { type: string }
        policy_hash: { type: string }
        receipt_id: { type: string }
        used_fallback: { type: boolean }
        fallback_reason: { type: string }
        error: { type: string }
        error_code: { type: string }

    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model: { type: string }
        messages:
          type: array
          items: { $ref: '#/components/schemas/ChatMessage' }
        max_tokens: { type: integer }
        temperature: { type: number }
        top_p: { type: number }
        stop:
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        stream: { type: boolean }
        policy: { $ref: '#/components/schemas/Policy' }
        trace_id: { type: string }

    ChatCompletionResponse:
      type: object
      required: [id, object, created, model, choices, usage]
      properties:
        id: { type: string }
        object: { type: string }
        created: { type: integer }
        model: { type: string }
        choices:
          type: array
          items:
            type: object
            properties:
              index: { type: integer }
              message: { $ref: '#/components/schemas/ChatMessage' }
              finish_reason: { type: string, nullable: true }
        usage:
          type: object
          required: [prompt_tokens, completion_tokens, total_tokens]
          properties:
            prompt_tokens: { type: integer }
            completion_tokens: { type: integer }
            total_tokens: { type: integer }

    ErrorResponse:
      type: object
      properties:
        success: { type: boolean }
        error: { type: string }
        message: { type: string }
        error_code: { type: string }
        details: {}

    # -------------------------------------------------------------------------
    # Additional schemas for full API coverage
    # -------------------------------------------------------------------------
    ComputeHeartbeat:
      type: object
      required: [compute_passport_id, status]
      properties:
        compute_passport_id: { type: string }
        status:
          type: string
          enum: [healthy, degraded, down]
        queue_depth: { type: integer }
        price_per_1k_tokens_estimate: { type: number }
        p95_ms_estimate: { type: number }

    Receipt:
      type: object
      required: [run_id, model_passport_id, compute_passport_id, policy_hash, runtime, tokens_in, tokens_out, ttft_ms, timestamp, receipt_hash, signature]
      properties:
        run_id: { type: string }
        model_passport_id: { type: string }
        compute_passport_id: { type: string }
        policy_hash: { type: string }
        runtime: { type: string }
        tokens_in: { type: integer }
        tokens_out: { type: integer }
        ttft_ms: { type: integer }
        total_latency_ms: { type: integer }
        timestamp: { type: integer }
        receipt_hash: { type: string }
        signature: { type: string }
        merkle_leaf_index: { type: integer }
        anchor:
          type: object
          properties:
            chain: { type: string }
            tx: { type: string }
            root: { type: string }
            epoch_id: { type: string }

    ReceiptProof:
      type: object
      required: [run_id, receipt_hash, leaf_index, proof, root]
      properties:
        run_id: { type: string }
        receipt_hash: { type: string }
        leaf_index: { type: integer }
        proof:
          type: array
          items: { type: string }
          description: Sibling hashes along the Merkle path
        root: { type: string }
        directions:
          type: array
          items:
            type: string
            enum: ['L', 'R']
          description: Direction of each sibling (L = sibling is on left, R = on right). Used for verification.

    ReceiptVerification:
      type: object
      properties:
        success: { type: boolean }
        valid: { type: boolean }
        hash_valid: { type: boolean }
        signature_valid: { type: boolean }
        inclusion_valid: { type: boolean }
        expected_hash: { type: string }
        computed_hash: { type: string }
        merkle_root: { type: string }

    Epoch:
      type: object
      required: [epoch_id, mmr_root, leaf_count, created_at, status]
      properties:
        epoch_id: { type: string }
        project_id: { type: string }
        mmr_root: { type: string }
        leaf_count: { type: integer }
        created_at: { type: integer }
        finalized_at: { type: integer }
        status:
          type: string
          enum: [open, anchoring, anchored, failed]
        chain_tx: { type: string }
        error: { type: string }
        start_leaf_index: { type: integer }
        end_leaf_index: { type: integer }

    PayoutCalculateRequest:
      type: object
      required: [run_id, total_amount_lamports, compute_wallet]
      properties:
        run_id: { type: string }
        total_amount_lamports:
          oneOf:
            - type: string
            - type: integer
        compute_wallet: { type: string }
        model_wallet: { type: string }
        orchestrator_wallet: { type: string }
        config:
          $ref: '#/components/schemas/PayoutConfig'

    PayoutFromReceiptRequest:
      type: object
      required: [run_id, tokens_in, tokens_out, price_per_1k_tokens_lamports, compute_wallet]
      properties:
        run_id: { type: string }
        tokens_in: { type: integer }
        tokens_out: { type: integer }
        price_per_1k_tokens_lamports:
          oneOf:
            - type: string
            - type: integer
        compute_wallet: { type: string }
        model_wallet: { type: string }
        orchestrator_wallet: { type: string }
        config:
          $ref: '#/components/schemas/PayoutConfig'

    PayoutConfig:
      type: object
      description: Payout split configuration (basis points, must sum to 10000)
      properties:
        compute_bp:
          type: integer
          description: Basis points for compute provider (e.g., 7000 = 70%)
          minimum: 0
          maximum: 10000
        model_bp:
          type: integer
          description: Basis points for model owner (e.g., 2000 = 20%)
          minimum: 0
          maximum: 10000
        orchestrator_bp:
          type: integer
          description: Basis points for orchestrator (e.g., 1000 = 10%)
          minimum: 0
          maximum: 10000

    PassportStatsResponse:
      type: object
      required: [success, stats]
      properties:
        success: { type: boolean }
        stats:
          type: object
          required: [total, by_type, by_status]
          properties:
            total: { type: integer }
            by_type:
              type: object
              properties:
                model: { type: integer }
                compute: { type: integer }
                tool: { type: integer }
                dataset: { type: integer }
                agent: { type: integer }
            by_status:
              type: object
              properties:
                active: { type: integer }
                deprecated: { type: integer }
                revoked: { type: integer }

    EpochStatsResponse:
      type: object
      required: [success, stats]
      properties:
        success: { type: boolean }
        stats:
          type: object
          properties:
            total_epochs: { type: integer }
            total_receipts: { type: integer }
            by_status:
              type: object
              properties:
                open: { type: integer }
                anchoring: { type: integer }
                anchored: { type: integer }
                failed: { type: integer }
            avg_receipts_per_epoch: { type: number }
            last_anchor_time: { type: integer }

    EpochsReadyResponse:
      type: object
      required: [success, count, epochs]
      properties:
        success: { type: boolean }
        count: { type: integer }
        epochs:
          type: array
          items:
            type: object
            properties:
              epoch_id: { type: string }
              project_id: { type: string }
              leaf_count: { type: integer }
              created_at: { type: integer }
              mmr_root: { type: string }

    EpochReadySummary:
      type: object
      properties:
        epoch_id: { type: string }
        project_id: { type: string }
        leaf_count: { type: integer }
        created_at: { type: integer }
        mmr_root: { type: string }
