openapi: 3.0.3
info:
  title: LucidLayer API
  version: 0.2.0
  description: |
    LucidLayer Offchain API.

    This OpenAPI spec is the source of truth for the actual backend routes.
    It is used to generate SDK clients via Speakeasy.

    Route groups:
    - `/v1/*` — Passports, Match, Run, Receipts, Epochs, Payouts, Compute
    - `/health/*` — System health and dependency checks
    - `/api/agents/*` — AI Agent MMR, Planner, and Orchestrator
servers:
  - url: https://api.lucid.foundation
    description: Production server

security:
  - BearerAuth: []
  - {}

# Speakeasy MCP tool generation configuration
x-speakeasy-mcp:
  scope-mapping:
    - pattern: "^(get|list|search)"
      scopes: [read]
    - pattern: "^(verify|check)"
      scopes: [read]
    - pattern: "^(create|update|trigger|submit|commit|retry|run|calculate|init|process|plan|accomplish|execute|validate|release|dispute|open|resolve|appeal|sponsor|estimate|link|unlink|install|uninstall|configure|prove|register|generate)"
      scopes: [write]
    - pattern: "^(delete)"
      scopes: [write, destructive]

tags:
  - name: Passports
  - name: Match
  - name: Run
  - name: Receipts
  - name: Epochs
  - name: Payouts
  - name: Compute
  - name: Health
  - name: Agents
  - name: Shares
  - name: Escrow
  - name: Disputes
  - name: Paymaster
  - name: Identity
  - name: TBA
  - name: Modules
  - name: zkML

paths:
  # ===========================================================================
  # Passports
  # ===========================================================================
  /v1/passports:
    post:
      tags: [Passports]
      operationId: lucid_create_passport
      summary: Create a passport
      x-speakeasy-mcp:
        name: lucid_create_passport
        description: Create a new passport (model/compute/tool/dataset/agent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePassportRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePassportResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    get:
      tags: [Passports]
      operationId: lucid_list_passports
      summary: List passports
      x-speakeasy-mcp:
        name: lucid_list_passports
        description: List passports with filtering, sorting, and pagination.
      parameters:
        - in: query
          name: type
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportType'
              - type: array
                items: { $ref: '#/components/schemas/PassportType' }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: status
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportStatus'
              - type: array
                items: { $ref: '#/components/schemas/PassportStatus' }
        - in: query
          name: tags
          description: Comma-separated
          schema: { type: string }
        - in: query
          name: tag_match
          schema: { type: string, enum: [all, any] }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
        - in: query
          name: sort_by
          schema: { type: string, enum: [created_at, updated_at, name] }
        - in: query
          name: sort_order
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPassportsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}:
    get:
      tags: [Passports]
      operationId: lucid_get_passport
      summary: Get a passport
      x-speakeasy-mcp:
        name: lucid_get_passport
        description: Retrieve a passport by its passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    patch:
      tags: [Passports]
      operationId: lucid_update_passport
      summary: Update a passport
      x-speakeasy-mcp:
        name: lucid_update_passport
        description: Update an existing passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
        - in: header
          name: X-Owner-Address
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePassportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    delete:
      tags: [Passports]
      operationId: lucid_delete_passport
      summary: Delete a passport (soft delete)
      x-speakeasy-mcp:
        name: lucid_delete_passport
        description: Soft-delete a passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
        - in: header
          name: X-Owner-Address
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, deleted]
                properties:
                  success: { type: boolean }
                  deleted: { type: boolean }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}/sync:
    post:
      tags: [Passports]
      operationId: lucid_trigger_passport_sync
      summary: Trigger on-chain sync for a passport
      x-speakeasy-mcp:
        name: lucid_trigger_passport_sync
        description: Trigger on-chain sync for a passport.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
                  on_chain_pda: { type: string, nullable: true }
                  on_chain_tx: { type: string, nullable: true }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/pending-sync:
    get:
      tags: [Passports]
      operationId: lucid_list_passports_pending_sync
      summary: Get passports pending sync
      x-speakeasy-mcp:
        name: lucid_list_passports_pending_sync
        description: List passports that are pending on-chain sync.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, count, passports]
                properties:
                  success: { type: boolean }
                  count: { type: integer }
                  passports:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/stats:
    get:
      tags: [Passports]
      operationId: lucid_get_passport_stats
      summary: Passport statistics
      x-speakeasy-mcp:
        name: lucid_get_passport_stats
        description: Get passport statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassportStatsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Share Tokens
  # ===========================================================================
  /v1/passports/{passport_id}/token/launch:
    post:
      tags: [Shares]
      operationId: lucid_launch_share_token
      summary: Launch a share token for a passport
      x-speakeasy-mcp:
        name: lucid_launch_share_token
        description: Create and launch a share token (SPL) for fractional ownership of a passport.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenLaunchRequest'
      responses:
        '201':
          description: Token launched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenLaunchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}/token:
    get:
      tags: [Shares]
      operationId: lucid_get_share_token
      summary: Get share token info for a passport
      x-speakeasy-mcp:
        name: lucid_get_share_token
        description: Get token info (mint, supply, holders) for a passport's share token.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInfo'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/passports/{passport_id}/token/airdrop:
    post:
      tags: [Shares]
      operationId: lucid_trigger_revenue_airdrop
      summary: Trigger revenue airdrop for share token holders
      x-speakeasy-mcp:
        name: lucid_trigger_revenue_airdrop
        description: Snapshot token holders and distribute SOL proportionally based on holdings.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirdropRequest'
      responses:
        '200':
          description: Airdrop executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirdropResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/models:
    get:
      tags: [Passports]
      operationId: lucid_search_models
      summary: Search model passports
      x-speakeasy-mcp:
        name: lucid_search_models
        description: Search model passports (ModelMeta filters).
      parameters:
        - in: query
          name: runtime
          schema: { type: string }
        - in: query
          name: format
          schema: { type: string }
        - in: query
          name: max_vram
          schema: { type: integer }
        - in: query
          name: available
          description: "Tri-state filter: 'true' returns only models that can serve inference (healthy compute or API-hosted), 'false' returns only unavailable models (missing compute), omit for all models"
          schema: { type: string, enum: ['true', 'false'] }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, models, pagination]
                properties:
                  success: { type: boolean }
                  models:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/compute:
    get:
      tags: [Compute]
      operationId: lucid_search_compute
      summary: Search compute passports
      x-speakeasy-mcp:
        name: lucid_search_compute
        description: Search compute passports (ComputeMeta filters).
      parameters:
        - in: query
          name: regions
          schema: { type: string }
        - in: query
          name: runtimes
          schema: { type: string }
        - in: query
          name: provider_type
          schema: { type: string }
        - in: query
          name: min_vram
          schema: { type: integer }
        - in: query
          name: gpu
          schema: { type: string }
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, compute, pagination]
                properties:
                  success: { type: boolean }
                  compute:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/tools:
    get:
      tags: [Passports]
      operationId: lucid_list_tools
      summary: List tool passports
      x-speakeasy-mcp:
        name: lucid_list_tools
        description: List active tool passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          description: Comma-separated
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tools, pagination]
                properties:
                  success: { type: boolean }
                  tools:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/datasets:
    get:
      tags: [Passports]
      operationId: lucid_list_datasets
      summary: List dataset passports
      x-speakeasy-mcp:
        name: lucid_list_datasets
        description: List active dataset passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          description: Comma-separated
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, datasets, pagination]
                properties:
                  success: { type: boolean }
                  datasets:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/agents:
    get:
      tags: [Passports]
      operationId: lucid_list_agent_passports
      summary: List agent passports
      x-speakeasy-mcp:
        name: lucid_list_agent_passports
        description: List active agent passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: { type: string }
        - in: query
          name: tags
          description: Comma-separated
          schema: { type: string }
        - in: query
          name: search
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agents, pagination]
                properties:
                  success: { type: boolean }
                  agents:
                    type: array
                    items: { $ref: '#/components/schemas/Passport' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Match
  # ===========================================================================
  /v1/match/explain:
    post:
      tags: [Match]
      operationId: lucid_match_explain
      summary: Evaluate policy against compute/model meta
      x-speakeasy-mcp:
        name: lucid_match_explain
        description: Evaluate a policy against compute & model metadata and explain the decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policy: { $ref: '#/components/schemas/Policy' }
                compute_meta: { $ref: '#/components/schemas/ComputeMeta' }
                model_meta: { $ref: '#/components/schemas/ModelMeta' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, allowed, reasons, policy_hash]
                properties:
                  success: { type: boolean }
                  allowed: { type: boolean }
                  reasons:
                    type: array
                    items: { type: string }
                  policy_hash: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/match:
    post:
      tags: [Match]
      operationId: lucid_match
      summary: Match compute for model
      x-speakeasy-mcp:
        name: lucid_match
        description: Match compute for a model given a compute catalog and policy constraints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: { $ref: '#/components/schemas/ModelMeta' }
                policy: { $ref: '#/components/schemas/Policy' }
                compute_catalog:
                  type: array
                  items: { $ref: '#/components/schemas/ComputeMeta' }
                require_live_healthy: { type: boolean, default: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, match, explain]
                properties:
                  success: { type: boolean }
                  match: { type: object, additionalProperties: true }
                  explain: { type: object, additionalProperties: true }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/route:
    post:
      tags: [Match]
      operationId: lucid_route
      summary: Plan a route (match + resolve endpoint)
      x-speakeasy-mcp:
        name: lucid_route
        description: Match + resolve an executable inference endpoint for a model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: { $ref: '#/components/schemas/ModelMeta' }
                policy: { $ref: '#/components/schemas/Policy' }
                compute_catalog:
                  type: array
                  items: { $ref: '#/components/schemas/ComputeMeta' }
                request_id: { type: string }
                require_live_healthy: { type: boolean, default: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, route, explain]
                properties:
                  success: { type: boolean }
                  request_id: { type: string }
                  route:
                    type: object
                    properties:
                      compute_passport_id: { type: string }
                      model_passport_id: { type: string }
                      endpoint: { type: string }
                      runtime: { type: string }
                      policy_hash: { type: string }
                      fallbacks:
                        type: array
                        items: { type: object, additionalProperties: true }
                  explain: { type: object, additionalProperties: true }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Run / Inference
  # ===========================================================================
  /v1/run/inference:
    post:
      tags: [Run]
      operationId: lucid_run_inference
      summary: Run inference (optionally streaming via SSE)
      x-speakeasy-mcp:
        name: lucid_run_inference
        description: |
          Run inference through LucidLayer.
          NOTE: streaming responses may not be supported by all MCP clients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Non-streaming inference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResult'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/chat/completions:
    post:
      tags: [Run]
      operationId: lucid_chat_completions
      summary: OpenAI-compatible chat completions
      x-speakeasy-mcp:
        name: lucid_chat_completions
        description: OpenAI-compatible chat completions routed through LucidLayer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Compute live-state
  # ===========================================================================
  /v1/compute/nodes/heartbeat:
    post:
      tags: [Compute]
      operationId: lucid_heartbeat
      summary: Submit compute node heartbeat
      x-speakeasy-mcp:
        name: lucid_heartbeat
        description: Submit a compute node heartbeat to update live state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHeartbeat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  state: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/compute/nodes/{computePassportId}/health:
    get:
      tags: [Compute]
      operationId: lucid_get_health
      summary: Get compute node health
      x-speakeasy-mcp:
        name: lucid_get_health
        description: Get the current health state of a compute node.
      parameters:
        - in: path
          name: computePassportId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  state: { type: object, additionalProperties: true }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Receipts
  # ===========================================================================
  /v1/receipts:
    post:
      tags: [Receipts]
      operationId: lucid_create_receipt
      summary: Create a receipt
      x-speakeasy-mcp:
        name: lucid_create_receipt
        description: Create a receipt and append it to the receipt MMR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReceiptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: { type: boolean }
                  receipt: { $ref: '#/components/schemas/Receipt' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt
      summary: Get a receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt
        description: Retrieve a receipt by receipt_id.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: { type: boolean }
                  receipt: { $ref: '#/components/schemas/Receipt' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}/verify:
    get:
      tags: [Receipts]
      operationId: lucid_verify_receipt
      summary: Verify a receipt (hash + signature + inclusion)
      x-speakeasy-mcp:
        name: lucid_verify_receipt
        description: Verify a receipt (hash + signature + inclusion proof).
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptVerification'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/{receipt_id}/proof:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt_proof
      summary: Get inclusion proof for receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt_proof
        description: Get the inclusion proof for a receipt.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, proof]
                properties:
                  success: { type: boolean }
                  proof: { $ref: '#/components/schemas/ReceiptProof' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/verify/{receipt_hash}:
    get:
      tags: [Receipts]
      operationId: lucid_verify_receipt_by_hash
      summary: Verify receipt by hash with inclusion proof and epoch info
      x-speakeasy-mcp:
        name: lucid_verify_receipt_by_hash
        description: >
          Verify a receipt by its hash. Returns inclusion proof and on-chain
          anchoring status. Critical P0.9 endpoint for Fluid Compute.
      parameters:
        - in: path
          name: receipt_hash
          required: true
          schema: { type: string, minLength: 64, maxLength: 64 }
          description: 64 hex character receipt hash
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptHashVerification'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/mmr/root:
    get:
      tags: [Receipts]
      operationId: lucid_get_mmr_root
      summary: Get current MMR root
      x-speakeasy-mcp:
        name: lucid_get_mmr_root
        description: Get the current MMR root and leaf count.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, root, leaf_count]
                properties:
                  success: { type: boolean }
                  root: { type: string }
                  leaf_count: { type: integer }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/signer/pubkey:
    get:
      tags: [Receipts]
      operationId: lucid_get_signer_pubkey
      summary: Get orchestrator signing public key
      x-speakeasy-mcp:
        name: lucid_get_signer_pubkey
        description: Get the orchestrator signing public key.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, pubkey]
                properties:
                  success: { type: boolean }
                  signer_type: { type: string }
                  pubkey: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Epochs / anchoring
  # ===========================================================================
  /v1/epochs/current:
    get:
      tags: [Epochs]
      operationId: lucid_get_current_epoch
      summary: Get current epoch
      x-speakeasy-mcp:
        name: lucid_get_current_epoch
        description: Get the current epoch.
      parameters:
        - in: query
          name: project_id
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: { type: boolean }
                  epoch: { $ref: '#/components/schemas/Epoch' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs
      summary: List epochs
      x-speakeasy-mcp:
        name: lucid_list_epochs
        description: List epochs with optional filtering and pagination.
      parameters:
        - in: query
          name: project_id
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: per_page
          schema: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epochs, pagination]
                properties:
                  success: { type: boolean }
                  epochs:
                    type: array
                    items: { $ref: '#/components/schemas/Epoch' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    post:
      tags: [Epochs]
      operationId: lucid_create_epoch
      summary: Create epoch
      x-speakeasy-mcp:
        name: lucid_create_epoch
        description: Create a new epoch.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: { type: boolean }
                  epoch: { $ref: '#/components/schemas/Epoch' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch
      summary: Get epoch
      x-speakeasy-mcp:
        name: lucid_get_epoch
        description: Get an epoch by epoch_id.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: { type: boolean }
                  epoch: { $ref: '#/components/schemas/Epoch' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/retry:
    post:
      tags: [Epochs]
      operationId: lucid_retry_epoch
      summary: Retry failed epoch
      x-speakeasy-mcp:
        name: lucid_retry_epoch
        description: Retry a failed epoch.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: { type: boolean }
                  epoch:
                    type: object
                    required: [epoch_id, status]
                    properties:
                      epoch_id: { type: string }
                      status: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/verify:
    get:
      tags: [Epochs]
      operationId: lucid_verify_epoch
      summary: Verify epoch anchor
      x-speakeasy-mcp:
        name: lucid_verify_epoch
        description: Verify an epoch anchor on-chain.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, valid]
                properties:
                  success: { type: boolean }
                  valid: { type: boolean }
                  on_chain_root: { type: string, nullable: true }
                  expected_root: { type: string, nullable: true }
                  tx_signature: { type: string, nullable: true }
                  error: { type: string, nullable: true }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/{epoch_id}/transaction:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_transaction
      summary: Get epoch anchoring transaction
      x-speakeasy-mcp:
        name: lucid_get_epoch_transaction
        description: Get epoch anchoring transaction details.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tx_signature]
                properties:
                  success: { type: boolean }
                  tx_signature: { type: string }
                  slot: { type: integer }
                  block_time: { type: integer }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/commit-root:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_root
      summary: Commit epoch root
      x-speakeasy-mcp:
        name: lucid_commit_epoch_root
        description: Commit an epoch root to chain.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: { type: string }
                epoch_id: { type: string }
                force: { type: boolean }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch_id, root, tx]
                properties:
                  success: { type: boolean }
                  epoch_id: { type: string }
                  root: { type: string }
                  tx: { type: string }
                  leaf_count: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/receipts/commit-roots-batch:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_roots_batch
      summary: Commit multiple epoch roots
      x-speakeasy-mcp:
        name: lucid_commit_epoch_roots_batch
        description: Commit multiple epoch roots.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [epoch_ids]
              properties:
                epoch_ids:
                  type: array
                  items: { type: string }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required: [success, total, successful_count, failed_count, results]
                properties:
                  success: { type: boolean }
                  total: { type: integer }
                  successful_count: { type: integer }
                  failed_count: { type: integer }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        success: { type: boolean }
                        epoch_id: { type: string }
                        root: { type: string }
                        signature: { type: string }
                        error: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/anchoring/health:
    get:
      tags: [Epochs]
      operationId: lucid_get_anchoring_health
      summary: Anchoring service health
      x-speakeasy-mcp:
        name: lucid_get_anchoring_health
        description: Health check for anchoring service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, connected]
                properties:
                  success: { type: boolean }
                  connected: { type: boolean }
                  network: { type: string }
                  authority: { type: string }
                  mock_mode: { type: boolean }
                  error: { type: string }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/ready:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs_ready
      summary: Get epochs ready for finalization
      x-speakeasy-mcp:
        name: lucid_list_epochs_ready
        description: List epochs ready for finalization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochsReadyResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/epochs/stats:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_stats
      summary: Epoch statistics
      x-speakeasy-mcp:
        name: lucid_get_epoch_stats
        description: Get epoch statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochStatsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Payouts
  # ===========================================================================
  /v1/payouts/calculate:
    post:
      tags: [Payouts]
      operationId: lucid_calculate_payout
      summary: Calculate payout split
      x-speakeasy-mcp:
        name: lucid_calculate_payout
        description: Calculate payout split between recipients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCalculateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: { type: boolean }
                  payout: { $ref: '#/components/schemas/Payout' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/from-receipt:
    post:
      tags: [Payouts]
      operationId: lucid_payout_from_receipt
      summary: Create payout from receipt token data
      x-speakeasy-mcp:
        name: lucid_payout_from_receipt
        description: Create payout split from receipt token data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutFromReceiptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: { type: boolean }
                  payout: { $ref: '#/components/schemas/Payout' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/{run_id}:
    get:
      tags: [Payouts]
      operationId: lucid_get_payout
      summary: Get payout by run_id
      x-speakeasy-mcp:
        name: lucid_get_payout
        description: Get payout for a run_id.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: { type: boolean }
                  payout: { $ref: '#/components/schemas/Payout' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v1/payouts/{run_id}/verify:
    get:
      tags: [Payouts]
      operationId: lucid_verify_payout
      summary: Verify payout split
      x-speakeasy-mcp:
        name: lucid_verify_payout
        description: Verify payout split integrity.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, valid]
                properties:
                  success: { type: boolean }
                  valid: { type: boolean }
                  total_matches: { type: boolean }
                  recipients_valid: { type: boolean }
                  hash_valid: { type: boolean }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Health
  # ===========================================================================
  /health:
    get:
      tags: [Health]
      operationId: check_system_health
      summary: Overall system health
      x-speakeasy-mcp:
        name: check_system_health
        description: Check overall system health including all dependencies.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'
        '503':
          description: Degraded or down
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'

  /health/live:
    get:
      tags: [Health]
      operationId: check_liveness
      summary: Liveness probe
      x-speakeasy-mcp:
        name: check_liveness
        description: Liveness probe - is the application alive?
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, uptime]
                properties:
                  status: { type: string, example: alive }
                  timestamp: { type: string, format: date-time }
                  uptime: { type: number }

  /health/ready:
    get:
      tags: [Health]
      operationId: check_readiness
      summary: Readiness probe
      x-speakeasy-mcp:
        name: check_readiness
        description: Readiness probe - is the application ready to serve traffic?
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string }
                  timestamp: { type: string, format: date-time }
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  timestamp: { type: string, format: date-time }
                  error: { type: string }
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'

  /health/database:
    get:
      tags: [Health]
      operationId: check_database_health
      summary: Database health check
      x-speakeasy-mcp:
        name: check_database_health
        description: Check database connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'

  /health/redis:
    get:
      tags: [Health]
      operationId: check_redis_health
      summary: Redis health check
      x-speakeasy-mcp:
        name: check_redis_health
        description: Check Redis connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'

  /health/nango:
    get:
      tags: [Health]
      operationId: check_nango_health
      summary: Nango service health check
      x-speakeasy-mcp:
        name: check_nango_health
        description: Check Nango service connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'

  /health/detailed:
    get:
      tags: [Health]
      operationId: get_detailed_health
      summary: Detailed health with statistics
      x-speakeasy-mcp:
        name: get_detailed_health
        description: Detailed health check including system resources and statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, uptime, version, environment, dependencies]
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, down]
                  timestamp: { type: string, format: date-time }
                  uptime: { type: number }
                  version: { type: string }
                  environment: { type: string }
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'
                  statistics: { type: object, additionalProperties: true, nullable: true }
                  resources:
                    type: object
                    properties:
                      memory: { type: object, additionalProperties: true }
                      cpu: { type: object, additionalProperties: true }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Agents — Core MMR
  # ===========================================================================
  /api/agents/init:
    post:
      tags: [Agents]
      operationId: init_agent
      summary: Initialize an AI agent
      x-speakeasy-mcp:
        name: init_agent
        description: Initialize or load an AI agent for MMR-based proof-of-contribution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentInitRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, initialized]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  initialized: { type: boolean }
                  stats: { $ref: '#/components/schemas/AgentStats' }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/epoch:
    post:
      tags: [Agents]
      operationId: process_agent_epoch
      summary: Process an epoch for an agent
      x-speakeasy-mcp:
        name: process_agent_epoch
        description: Process an epoch of vectors for an AI agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEpochRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, epochNumber, vectorCount, mmrRoot]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  epochNumber: { type: integer }
                  vectorCount: { type: integer }
                  mmrRoot: { type: string }
                  depinCid: { type: string }
                  transactionSignature: { type: string }
                  gasCost: { $ref: '#/components/schemas/GasCost' }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/batch-epochs:
    post:
      tags: [Agents]
      operationId: process_agent_batch_epochs
      summary: Process multiple epochs in batch
      x-speakeasy-mcp:
        name: process_agent_batch_epochs
        description: Process multiple epochs in batch for one or more agents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBatchEpochsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, processedEpochs, results, totalGasCost]
                properties:
                  success: { type: boolean }
                  processedEpochs: { type: integer }
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        agentId: { type: string }
                        epochNumber: { type: integer }
                        mmrRoot: { type: string }
                        depinCid: { type: string }
                        transactionSignature: { type: string }
                        gasCost: { $ref: '#/components/schemas/GasCost' }
                  totalGasCost: { $ref: '#/components/schemas/GasCost' }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/proof:
    post:
      tags: [Agents]
      operationId: generate_agent_proof
      summary: Generate proof of contribution
      x-speakeasy-mcp:
        name: generate_agent_proof
        description: Generate cryptographic proof of contribution for a specific vector.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentProofRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, vectorText, epochNumber, proof, verified]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  vectorText: { type: string }
                  epochNumber: { type: integer }
                  proof: { type: object, additionalProperties: true }
                  verified: { type: boolean }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/{agentId}/stats:
    get:
      tags: [Agents]
      operationId: get_agent_stats
      summary: Get agent statistics
      x-speakeasy-mcp:
        name: get_agent_stats
        description: Get statistics and current status for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, stats]
                properties:
                  success: { type: boolean }
                  stats: { $ref: '#/components/schemas/AgentStats' }
                  message: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/{agentId}/history:
    get:
      tags: [Agents]
      operationId: get_agent_history
      summary: Get agent MMR root history
      x-speakeasy-mcp:
        name: get_agent_history
        description: Get an agent's MMR root history across epochs.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, history, totalEpochs]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  history:
                    type: array
                    items: { $ref: '#/components/schemas/AgentHistoryEntry' }
                  totalEpochs: { type: integer }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/{agentId}/root:
    get:
      tags: [Agents]
      operationId: get_agent_root
      summary: Get current MMR root for agent
      x-speakeasy-mcp:
        name: get_agent_root
        description: Get the current MMR root for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, currentRoot]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  currentRoot: { type: string }
                  message: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/{agentId}/verify:
    get:
      tags: [Agents]
      operationId: verify_agent_mmr
      summary: Verify MMR integrity for agent
      x-speakeasy-mcp:
        name: verify_agent_mmr
        description: Verify MMR integrity for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, verification]
                properties:
                  success: { type: boolean }
                  agentId: { type: string }
                  verification: { type: object, additionalProperties: true }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents:
    get:
      tags: [Agents]
      operationId: list_agents
      summary: List all registered agents
      x-speakeasy-mcp:
        name: list_agents
        description: List all registered AI agents with their stats.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, totalAgents, agents]
                properties:
                  success: { type: boolean }
                  totalAgents: { type: integer }
                  agents:
                    type: array
                    items: { $ref: '#/components/schemas/AgentStats' }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # Agents — Planner (Phase 3)
  # ===========================================================================
  /api/agents/plan:
    post:
      tags: [Agents]
      operationId: plan_agent_workflow
      summary: Plan a workflow from a goal
      x-speakeasy-mcp:
        name: plan_agent_workflow
        description: Plan a workflow from a natural language goal using CrewAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPlanRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, goal, flowspec, reasoning]
                properties:
                  success: { type: boolean }
                  goal: { type: string }
                  flowspec: { type: object, additionalProperties: true }
                  reasoning: { type: string }
                  complexity: { type: string }
                  workflowId: { type: string }
                  execution: { type: object, additionalProperties: true }
                  executionError: { type: string }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/accomplish:
    post:
      tags: [Agents]
      operationId: accomplish_agent_goal
      summary: Plan and execute a workflow in one call
      x-speakeasy-mcp:
        name: accomplish_agent_goal
        description: Plan and execute a workflow in one call via the Agent Orchestrator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentAccomplishRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, goal]
                properties:
                  success: { type: boolean }
                  goal: { type: string }
                  result: { type: object, additionalProperties: true }
                  execution: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/accomplish/preview:
    post:
      tags: [Agents]
      operationId: preview_agent_workflow
      summary: Preview a workflow without executing
      x-speakeasy-mcp:
        name: preview_agent_workflow
        description: Preview a planned workflow (dry run) without executing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [goal]
              properties:
                goal: { type: string }
                context: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, preview, flowspec]
                properties:
                  success: { type: boolean }
                  preview: { type: object, additionalProperties: true }
                  flowspec: { type: object, additionalProperties: true }
                  reasoning: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/history/{tenantId}:
    get:
      tags: [Agents]
      operationId: get_agent_orchestrator_history
      summary: Get agent execution history for a tenant
      x-speakeasy-mcp:
        name: get_agent_orchestrator_history
        description: Get agent execution history for a specific tenant.
      parameters:
        - in: path
          name: tenantId
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tenantId, history]
                properties:
                  success: { type: boolean }
                  tenantId: { type: string }
                  history:
                    type: array
                    items: { type: object, additionalProperties: true }
                  stats: { type: object, additionalProperties: true }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/orchestrator/health:
    get:
      tags: [Agents]
      operationId: check_agent_orchestrator_health
      summary: Agent orchestrator health check
      x-speakeasy-mcp:
        name: check_agent_orchestrator_health
        description: Check health of all agent orchestrator services.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, health]
                properties:
                  success: { type: boolean }
                  health: { type: object, additionalProperties: true }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/execute:
    post:
      tags: [Agents]
      operationId: execute_agent_flowspec
      summary: Execute a FlowSpec
      x-speakeasy-mcp:
        name: execute_agent_flowspec
        description: Execute a FlowSpec with automatic executor selection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [flowspec, context]
              properties:
                flowspec: { type: object, additionalProperties: true }
                context:
                  type: object
                  required: [tenantId]
                  properties:
                    tenantId: { type: string }
                    variables: { type: object, additionalProperties: true }
                executor:
                  type: string
                  enum: [n8n, langgraph]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
                  result: { type: object, additionalProperties: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/validate:
    post:
      tags: [Agents]
      operationId: validate_flowspec
      summary: Validate a FlowSpec structure
      x-speakeasy-mcp:
        name: validate_flowspec
        description: Validate a FlowSpec structure without executing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: FlowSpec object to validate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, validation]
                properties:
                  success: { type: boolean }
                  validation: { type: object, additionalProperties: true }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/planner/info:
    get:
      tags: [Agents]
      operationId: get_planner_info
      summary: Get planner service info
      x-speakeasy-mcp:
        name: get_planner_info
        description: Get agent planner service information and status.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, status]
                properties:
                  success: { type: boolean }
                  status: { type: string }
                  info: { type: object, additionalProperties: true }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/executor/health:
    get:
      tags: [Agents]
      operationId: check_executor_health
      summary: Check executor health
      x-speakeasy-mcp:
        name: check_executor_health
        description: Check health of executor backends (n8n, LangGraph).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, executors]
                properties:
                  success: { type: boolean }
                  executors:
                    type: object
                    properties:
                      n8n: { type: boolean }
                      langgraph: { type: boolean }
                  message: { type: string }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/agents/executor/decision:
    post:
      tags: [Agents]
      operationId: get_executor_decision
      summary: Get executor decision for a FlowSpec
      x-speakeasy-mcp:
        name: get_executor_decision
        description: Get recommended executor for a FlowSpec without executing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [flowspec]
              properties:
                flowspec: { type: object, additionalProperties: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, decision]
                properties:
                  success: { type: boolean }
                  decision:
                    type: object
                    properties:
                      executor: { type: string }
                      reason: { type: string }
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 Escrow
  # ===========================================================================
  /v2/escrow/create:
    post:
      tags: [Escrow]
      operationId: lucid_create_escrow
      summary: Create a time-locked escrow
      x-speakeasy-mcp:
        name: lucid_create_escrow
        description: Create a time-locked escrow for agent-to-agent transactions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEscrowRequest'
      responses:
        '200':
          description: Escrow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/escrow/release:
    post:
      tags: [Escrow]
      operationId: lucid_release_escrow
      summary: Release escrow with verified receipt
      x-speakeasy-mcp:
        name: lucid_release_escrow
        description: Release escrow funds to beneficiary after receipt verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseEscrowRequest'
      responses:
        '200':
          description: Escrow released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/escrow/dispute:
    post:
      tags: [Escrow]
      operationId: lucid_dispute_escrow
      summary: Dispute an escrow
      x-speakeasy-mcp:
        name: lucid_dispute_escrow
        description: Dispute an active escrow, freezing funds for arbitration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeEscrowRequest'
      responses:
        '200':
          description: Escrow disputed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/escrow/{chainId}/{escrowId}:
    get:
      tags: [Escrow]
      operationId: lucid_get_escrow
      summary: Get escrow details
      x-speakeasy-mcp:
        name: lucid_get_escrow
        description: Get details of a specific escrow by chain and ID.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
        - name: escrowId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Escrow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEscrowResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 Disputes
  # ===========================================================================
  /v2/disputes/open:
    post:
      tags: [Disputes]
      operationId: lucid_open_dispute
      summary: Open a dispute on an escrow
      x-speakeasy-mcp:
        name: lucid_open_dispute
        description: Open a dispute on an active escrow, starting the evidence phase.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDisputeRequest'
      responses:
        '200':
          description: Dispute opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/disputes/{disputeId}/evidence:
    post:
      tags: [Disputes]
      operationId: lucid_submit_evidence
      summary: Submit evidence for a dispute
      x-speakeasy-mcp:
        name: lucid_submit_evidence
        description: Submit evidence (receipt hash, MMR proof) for an open dispute.
      parameters:
        - name: disputeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitEvidenceRequest'
      responses:
        '200':
          description: Evidence submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/disputes/{disputeId}/resolve:
    post:
      tags: [Disputes]
      operationId: lucid_resolve_dispute
      summary: Resolve a dispute
      x-speakeasy-mcp:
        name: lucid_resolve_dispute
        description: Trigger automated resolution of a dispute based on submitted evidence.
      parameters:
        - name: disputeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chainId]
              properties:
                chainId: { type: string }
      responses:
        '200':
          description: Dispute resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/disputes/{disputeId}/appeal:
    post:
      tags: [Disputes]
      operationId: lucid_appeal_dispute
      summary: Appeal a dispute decision
      x-speakeasy-mcp:
        name: lucid_appeal_dispute
        description: Appeal a dispute resolution (requires staking LUCID).
      parameters:
        - name: disputeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chainId]
              properties:
                chainId: { type: string }
      responses:
        '200':
          description: Appeal submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/disputes/{chainId}/{disputeId}:
    get:
      tags: [Disputes]
      operationId: lucid_get_dispute
      summary: Get dispute details
      x-speakeasy-mcp:
        name: lucid_get_dispute
        description: Get details of a specific dispute.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
        - name: disputeId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dispute details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDisputeResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 Paymaster (ERC-4337 gas abstraction)
  # ===========================================================================
  /v2/paymaster/sponsor:
    post:
      tags: [Paymaster]
      operationId: lucid_sponsor_user_op
      summary: Sponsor a UserOp with $LUCID
      x-speakeasy-mcp:
        name: lucid_sponsor_user_op
        description: Sponsor an ERC-4337 UserOperation, paying gas in $LUCID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SponsorUserOpRequest'
      responses:
        '200':
          description: UserOp sponsored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/paymaster/rate/{chainId}:
    get:
      tags: [Paymaster]
      operationId: lucid_get_paymaster_rate
      summary: Get LUCID/ETH exchange rate
      x-speakeasy-mcp:
        name: lucid_get_paymaster_rate
        description: Get the current LUCID per ETH exchange rate for gas sponsoring.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Exchange rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymasterRateResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/paymaster/estimate:
    post:
      tags: [Paymaster]
      operationId: lucid_estimate_gas_lucid
      summary: Estimate gas cost in $LUCID
      x-speakeasy-mcp:
        name: lucid_estimate_gas_lucid
        description: Estimate how much $LUCID a UserOperation will cost.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateGasRequest'
      responses:
        '200':
          description: Gas estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 Identity (cross-chain)
  # ===========================================================================
  /v2/identity/link:
    post:
      tags: [Identity]
      operationId: lucid_link_identity
      summary: Link addresses cross-chain
      x-speakeasy-mcp:
        name: lucid_link_identity
        description: Link a new address to an existing cross-chain identity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkIdentityRequest'
      responses:
        '200':
          description: Identity linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityLinkResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/identity/resolve:
    post:
      tags: [Identity]
      operationId: lucid_resolve_identity
      summary: Resolve cross-chain identity
      x-speakeasy-mcp:
        name: lucid_resolve_identity
        description: Resolve a CAIP-10 address to its cross-chain identity graph.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveIdentityRequest'
      responses:
        '200':
          description: Identity resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    get:
      tags: [Identity]
      operationId: lucid_get_identity
      summary: Resolve identity (GET)
      x-speakeasy-mcp:
        name: lucid_get_identity
        description: Resolve a CAIP-10 address via query parameter.
      parameters:
        - name: caip10
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Identity resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/identity/chains:
    get:
      tags: [Identity]
      operationId: lucid_get_identity_chains
      summary: Get linked chains for identity
      x-speakeasy-mcp:
        name: lucid_get_identity_chains
        description: Get all chains linked to a CAIP-10 address.
      parameters:
        - name: caip10
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Linked chains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityChainsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/identity/unlink:
    post:
      tags: [Identity]
      operationId: lucid_unlink_identity
      summary: Unlink a cross-chain address
      x-speakeasy-mcp:
        name: lucid_unlink_identity
        description: Remove a linked address from a cross-chain identity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlinkIdentityRequest'
      responses:
        '200':
          description: Identity unlinked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 TBA (Token Bound Accounts)
  # ===========================================================================
  /v2/tba/create:
    post:
      tags: [TBA]
      operationId: lucid_create_tba
      summary: Create TBA for passport NFT
      x-speakeasy-mcp:
        name: lucid_create_tba
        description: Create an ERC-6551 Token Bound Account for a passport NFT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTBARequest'
      responses:
        '200':
          description: TBA created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTBAResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/tba/{chainId}/{tokenId}:
    get:
      tags: [TBA]
      operationId: lucid_get_tba
      summary: Get TBA address
      x-speakeasy-mcp:
        name: lucid_get_tba
        description: Get the Token Bound Account address for a token.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
        - name: tokenId
          in: path
          required: true
          schema: { type: string }
        - name: tokenContract
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: TBA info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTBAResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 ERC-7579 Modules
  # ===========================================================================
  /v2/modules/install:
    post:
      tags: [Modules]
      operationId: lucid_install_module
      summary: Install module on smart account
      x-speakeasy-mcp:
        name: lucid_install_module
        description: Install an ERC-7579 module on a smart account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallModuleRequest'
      responses:
        '200':
          description: Module installed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/modules/uninstall:
    post:
      tags: [Modules]
      operationId: lucid_uninstall_module
      summary: Uninstall module from smart account
      x-speakeasy-mcp:
        name: lucid_uninstall_module
        description: Uninstall an ERC-7579 module from a smart account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UninstallModuleRequest'
      responses:
        '200':
          description: Module uninstalled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/modules/policy/configure:
    post:
      tags: [Modules]
      operationId: lucid_configure_policy_module
      summary: Configure policy module
      x-speakeasy-mcp:
        name: lucid_configure_policy_module
        description: Set allowed policy hashes on the LucidPolicyModule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurePolicyRequest'
      responses:
        '200':
          description: Policy configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/modules/payout/configure:
    post:
      tags: [Modules]
      operationId: lucid_configure_payout_module
      summary: Configure payout module
      x-speakeasy-mcp:
        name: lucid_configure_payout_module
        description: Set revenue split on the LucidPayoutModule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurePayoutRequest'
      responses:
        '200':
          description: Payout configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/modules/{chainId}/{account}:
    get:
      tags: [Modules]
      operationId: lucid_list_modules
      summary: List installed modules
      x-speakeasy-mcp:
        name: lucid_list_modules
        description: List ERC-7579 modules installed on a smart account.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
        - name: account
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Installed modules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModulesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  # ===========================================================================
  # v2 zkML
  # ===========================================================================
  /v2/zkml/prove:
    post:
      tags: [zkML]
      operationId: lucid_generate_zkml_proof
      summary: Generate zkML proof
      x-speakeasy-mcp:
        name: lucid_generate_zkml_proof
        description: Generate a zkML proof for model inference verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateZkMLProofRequest'
      responses:
        '200':
          description: Proof generated
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
                  proof: { $ref: '#/components/schemas/ZkMLProof' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/zkml/verify:
    post:
      tags: [zkML]
      operationId: lucid_verify_zkml_proof
      summary: Verify zkML proof
      x-speakeasy-mcp:
        name: lucid_verify_zkml_proof
        description: Verify a zkML proof (offchain first, then onchain if valid).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyZkMLProofRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZkMLVerifyResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/zkml/register-model:
    post:
      tags: [zkML]
      operationId: lucid_register_zkml_model
      summary: Register model circuit
      x-speakeasy-mcp:
        name: lucid_register_zkml_model
        description: Register a model's Groth16 verifying key for onchain proof verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterZkMLModelRequest'
      responses:
        '200':
          description: Model registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /v2/zkml/models/{chainId}:
    get:
      tags: [zkML]
      operationId: lucid_list_zkml_models
      summary: List registered model circuits
      x-speakeasy-mcp:
        name: lucid_list_zkml_models
        description: List all registered zkML model circuits on a chain.
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Model circuits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListZkMLModelsResponse'
        '500': { $ref: '#/components/responses/InternalServerError' }

[...]
